.courses{
  display: flex;
  flex-direction: column;
  gap:50px;

  @include tablet (){
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    row-gap: 50px;
  }

  @include desktop (){
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
    row-gap: 60px;
    margin-top: 250px;
  }
  &__title{
    background: $gradientePrincipal;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;

    @include tablet (){
      padding-top: 60px;
      margin-bottom: 0;
    }

    @include desktop (){
      width: 369px;
      margin-bottom: 0;
      font-size: 32px;
    }

    h3{
      font-size: $tamañoFuenteXL;
      color: $blanco;
      font-weight: 800;
      line-height: 32px;
      width: 90%;
    }
  }

  &__block{
    padding: 20px;
    border-radius: 10px;
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    display: flex;
    flex-direction: column;
    gap:20px;
    background-color: $blanco;
    position: relative;

    @include tablet (){
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    @include desktop (){
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    img{
      width: 56px;
      height: 56px;
      position: absolute;
      top: -30px;
    }

    h2{
      @include tituloS();
      padding-top: 25px;
    }

    p{
      @include bodyM();
      font-size: 16px;
    }
  }
}