*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}



.chatbot {
  background-color: #ccc;
  padding: 10px;
}